<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand logo" href="#">Buy For Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav " style="padding-right: 50px;">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <fa-icon [icon]='faUser'></fa-icon>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" >Login/SignOut</a>
                    <a class="dropdown-item" href="#">Details</a>
                    <a class="dropdown-item" href="#">Orders</a>
                    <a class="dropdown-item" href="#">Messages</a>
                    <a class="dropdown-item" href="#">WishList</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]='faShoppingCart'></fa-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]='faHeart'></fa-icon>
                </a>
            </li>
            <!-- <li class="nav-item">
          <a class="nav-link" href="#"><fa-icon [icon]='faUser'></fa-icon></a>
        </li> -->

        </ul>
    </div>
</nav>