
<div class="container">
    <h3 class="h3">Products </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
         <app-item-template></app-item-template>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
            <app-item-template></app-item-template>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
            <app-item-template></app-item-template>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
            <app-item-template></app-item-template>
        </div>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
            <app-item-template></app-item-template>
        </div>
        <div class="col-md-3 col-sm-6 " style="margin-bottom: 20px;">
            <app-item-template></app-item-template>
        </div>
    </div>
</div>
<hr>


