<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MDS" type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <MDS>
    <add key="URL" value="https://messaging.brandcust.co.il/api/" />
    <add key="Username" value="alex.markov@brandcust.co.il" />
    <add key="Password" value="N8Fknp73zDb8E@" />
    <add key="ApplicationDomainId" value="2" />
    <add key="
         MDSTimeout" value="30000" />
  </MDS>
</configuration>